<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993889218592-4js4d3jrblmqidnneens76m5q0nn8akg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993889218592-4js4d3jrblmqidnneens76m5q0nn8akg</string>
	<key>API_KEY</key>
	<string>AIzaSyD_sVtlBfQnHR4uFw4aXuQf0ROJfyuL3Kw</string>
	<key>GCM_SENDER_ID</key>
	<string>993889218592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cafe</string>
	<key>PROJECT_ID</key>
	<string>cafe-ksusha</string>
	<key>STORAGE_BUCKET</key>
	<string>cafe-ksusha.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993889218592:ios:050b04a1a5ccdc1bf48c45</string>
</dict>
</plist>